POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=sports_event_calendar
DATABASE_URL=host=database user=postgres password=postgres dbname=sports_event_calendar port=5432 sslmode=disable
BACKEND_PORT=8080
